*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
.flex-container{
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    width: 200px;
   display: flex;
  justify-content: center;
  align-items: center;
}
.claculator{
    border: 1px solid gainsboro;
    border-radius: 5px;
    width: 200px;
   display: flex;
}
#display{
    margin: 10px;
    width: 85%;
    height: 2rem;
}
.button{
    width: 45px;
    height: 45px;
    margin: 3px;
}
.button-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}